td.shift_times_cell {
  text-align: center !important;
  width: 20px;
}

td.shift_cell {
  width: 10%;
  height: 10%;
}

th.days_cell {
  text-align: center;
}

table#shift_table {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

div#table_container {
  padding: 2% 20%;
  height: 94vh;
}
