td.shift_times_cell {
  text-align: center !important;
  width: 10%;
  font-size: 1.2em;  
  color:white;
  font-family: 'Cabin', sans-serif;
}

td.shift_cell {
  width: 10%;
  height: 10%;
  border: 2px;
  border-color: black;
}

th.days_cell {
  text-align: center;
  width: 100%;
  color: white;
  
}

table#shift_table {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background-color: #191919;
}

div#table_container {
  padding: 2% 10%;
  height: 80vh;
  background-color: #191919;
}

th#days_cell {
  text-align: center !important;
  vertical-align: middle !important;
  font-size: 1.2em;  
  color:white;
  font-family: 'Cabin', sans-serif;
}

div.mdl-textfield {
  width: 100%;
}

div#submit_button_container {
  padding: 2% 10%;
  height: 20px;
}

button#submit_button {
  width: 100%;
}