td.shift_times_cell {
  text-align: center !important;
  width: 10%;
  font-size: 1.2em;  
  color:#373737;
  font-family: 'Cabin', sans-serif;
}


td.shift_cell {
  width: 10%;
  height: 10%;
  background-color: #ffd131;  
  padding: 5em;
}

td.shift_cell:hover {
  background-color: #00843d;
}

p.creds_remaining {
  color: #373737;
  font-family: "cabin", sans-serif;
  font-size: 2em;
  text-align: center;

}



.mdl-data-table tbody tr {
  position: relative;
  height: 48px;
  transition-delay: 300s; 
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property:  background-color !important ; 
}



th.days_cell {
  text-align: center;
  width: 100%;
  color: #373737;
  
}

table#shift_table {
  width: 100%;
  margin: 0;
  height: 100%;
  background-color:#e6e6e6 !important;
  border: 10px !important;
  box-shadow: none !important;  

}



td.shift_cell {
  border: none !important;
}

td.employer_shift_cell {
  border: 1px !important;
  border-color: red !important;  
  background-color: #ffd131;
}

div#table_container {
  padding: 5% 10% 0 10%;
  height: 80vh;
  background-color: #e6e6e6 !important;
  border: 10px !important;
  box-shadow: none !important;  
}


th#days_cell {
  text-align: center !important;
  vertical-align: middle !important;
  font-size: 1.2em;  
  color:#373737;
  font-family: 'Cabin', sans-serif;
}

div.mdl-textfield {
  width: 100%;
}

div#submit_button_container {
  padding: 2% 40% 5% 40%;
  vertical-align: center !important;
  height: 100px;
  background-color: #e6e6e6;
  margin: 
  
}

button#submit_button:hover {
  transition-duration: 0.2s; 
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property:  background-color !important ; 
  background-color:#00843D;

}

button#employee_button {

  background-color: #ffd131;
  font-family: "cabin", sans-serif;

}

button#employer_button {
  background-color: #ffd131;
  font-family: "cabin", sans-serif;
}

body#main_page_body {
  background-color: #373737;
  text-align: center;
  
}

div#main_page_button_wrapper {
  margin: 200px auto 10px;
  display: inline-block;
  vertical-align: center;
  background-color: #373737;
}

h1 {
  color: #ffd131;
  font-family: "cabin", sans-serif;
  font-size: 10em;
}


button#prefer_io_button {
  color: #373737;
  font-family: "cabin", sans-serif !important;
  font-size: 2em !important;
  border: none;
  background-color: inherit;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

button.prefer_io_button:hover {
  background-color: #eee;
}




button#submit_button {
  width: 100%;
  background-color: #ffd131; 
  border: none;
  color: #373737;
  padding: 15px 40px;
  margin: 70px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-family: "cabin", sans-serif;
}